/* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }*/
	
html {
  margin:0px;
  padding:0px;
}

body {
	margin:0px;
	padding:0px;

	font-family: arial;
	background-color: #D1CCCC
}

p {
	margin:0px 0px 0px 0px;
	padding:4px;
}

h3 {
  margin: 0;
}

#header {
  visibility: hidden;
	height: 0px;
  background: #dcdcdc;
  border-bottom: 1px solid #d7d7d7;
}

#application-navigation {
    text-align: left;
    padding-top: 15px;
	  margin-top: 0px;
}

#application-navigation li {
	  margin-left: 5px;
    padding: 3px 4px; 
    list-style-type: none;
    display: inline-block; 
    font-size: .7em;
    font-weight: bold;
    border-radius: 4px;
}

#application-navigation a {
	 color: #2a3c43;
    padding: 3px 4px; 
    text-align: center;
    text-decoration: none; }

#application-navigation a:hover {
        background: #e4f5f9;
        padding: 3px 4px; 
        border-radius: 3px;

}

#application-navigation .header-signup-button {
      color: white;
      padding: 6px 15px; }


.people-list {
	float:left;
	height: 100vh;
	width:200px;
	margin:0px 0px 0px 0px;
	background: #edefef;
}

.people-list .people-list-heading {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 13px;
  color: #aeaeae;
  margin-left: 20px;
  margin-top: 30px;
}

.people-icon {
  display: none;
  margin-left: 9px;
  margin-top: 5px;
}

.people-list ul {
  margin-left: -20px;
  list-style: none;
  font-family: Arial;
  font-size: 14px;
  color: #333;
  line-height: 1.8em;
}

.people-list ul a {
	text-decoration: none;
	color: #333;
}

.active-chat-no {
	padding-bottom: -5px;
}

.inactive-op {
	color: #b8b8b8;
}

.inactive-time {
	font-size: .8em
}	

.chat-window{
	height:100vh;
	margin:0px 0px 0px 200px;
}

.chat-window-inner{
	height: 100vh;
	float:left;
	width:100%;
}
.chat-window-inner-inner{
	position: relative;
	height: 100vh;
	margin:0px 400px 0px 0px;
	background-color: #fff;
	z-index: -1;
}

.chat-window-inner-inner .nameplate {
  background: #2a3c43;
  height: 62px;
  color: #fff;
}

.chat-tabs {
  font-size: 12px;
  min-width: 100%;
  background: #394f59;
  margin-top: -2px;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  overflow: hidden;

}

.chat-tabs span {
  float: right;
  margin-right: 5px;
  color: #2a3c43;
}


.tab {
  float: left;
  width: 80px;
  height: 20px;
  padding: 11px 0px 5px 5px;
  border-left: 1px solid #2a3c43;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  background: #445c66;
  overflow: hidden;
  color: #95afb9;
}

.tab:hover {
  background: #384e57;
  cursor: pointer;
  color: #fff;
}

.active {
  background: #2a3c43;
  color: #4d6b78;
}

.active span {
  color: #445c66;
}

.last {
  border-right: 1px solid #2a3c43;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}



.chat-window-inner-inner .nameplate img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 8px;
}
.chat-window-inner-inner .nameplate h3 {
  padding-top: 9px;
  font-family: Arial;
}
.chat-window-inner-inner .nameplate h3 span {
  font-weight: normal;
  color: #8f999b;
  font-size: 0.8em;
}
.chat-window-inner-inner .nameplate h3 span:before {
  content: " ";
}

.chat-window-inner-inner .nameplate h3 .admin {
	margin-left: 6px;
	background: #eec317;
	padding: 3px 4px 3px 0px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2a3c43;
	border-radius: 3px;
}

.chat-window-inner-inner .nameplate p {
  font-size: 12px;
  font-weight: light;
  color: #8f999b;
}



.chat-window-inner-inner .adv-info-drawer {
  visibility: hidden;
  height: 20px;
  width: 100%;
  background: none;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.chat-window-inner-inner .adv-info-drawer .adv-info-drawer-label {
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #999;
  margin-left: 50px;
  margin-top: -2px;
}

.text-entry {
	position: absolute;
	bottom: 80px;
	left: 20px;
	right: 20px;
	height: 60px;
	background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #222222;
}

.conversation {
	float: left;
	width: 100%;
}

.chat-bubble-row {
	display: inline-block;
	width: 100%
}

.chat-bubble {
	margin: 30px 30px;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	background: #efefef;
	border-radius: 10px;
    color: #777;
}

.left {
	background: #f4e4f9;
	float: left;
	margin-left: 10px;
}


.right {
	background: #e4f5f9;
	float: right;
	margin-right: 10px;
}


.clear-both{
	clear:both;
	font-size:0px;
	line-height:0px;
	height:0px;
}

.advanced-info {
	float:left;
	height: 100vh;
	width:400px;
	margin:-2px 0px 0px -400px;
	background: #edefef;
}

.advanced-info .right-top {
  margin-top: 35px;
  margin-left: 30px;
}

.filter-dropdown-button {
  background-color: #fff;
  border: 1px solid #d7d7d7;;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #2a3c43;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  margin-top: -28px;
  padding: 9px 10px 9px 7px;
}

.filter-title {
  color: #2a3c43;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f2f2f2;
  font-size: 11px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin-right: 10px;
  padding: 3px 5px;
}

.filter-selected {
  font-family: Arial, sans-serif;
}

.filter-selected:after {
  margin-left: 5px;
}

.green-check {
  float: left;
  margin-right: 5px;
  margin-top: -1px;
}

.chat-status {
  position: absolute;
  background: #fff;
  font-family: arial;
  font-size: 12px;
  color: #999;
  border-radius: 3px;
  height: 23px;
  padding: 10px 10px 0px 10px;
  border: 1px solid #d7d7d7;
  top: 8px;
  right: 56px;
}

.gear {
  position: absolute;
  top: 11px;
  right: 16px;
}


.advanced-info .adv-info {
  margin-left: 30px;
  margin-top: 55px;
  font-family: Arial;
  color: #2a3c43;
}
.advanced-info .adv-info span {
  color: #2a3c43;
  font-size: 14px;
}
.advanced-info .adv-info .also-visited {
  font-size: 12px;
  font-weight: bold;
  color: #2a3c43;
}

.other-pages {
	font-size: 12px;
	color: #999;
	text-decoration: underline;
}


@media screen and (max-width: 1120px) {
  .adv-info {
    font-size: 13px;
  }
}

@media screen and (max-width: 1031px) {

	#application-navigation {
    text-align: left;
    margin-left: -20px;
}

	.chat-window-inner-inner {
	margin:0px;
}	

  .chat-tabs {
    margin-left: 0px;
  }

	.adv-info-drawer {
    visibility: visible !important;
  }

	.advanced-info {
		display: none;
	}

  #header {
  visibility: visible;
  height: 50px;
}

  .filter-dropdown-button {
    position: absolute;
    top: 8px;
    left: 20px;
    margin-top: 0px;
  }

}

@media screen and (max-width: 641px) {

  #application-navigation {
    display: initial;
}

  .people-list {
    width: 40px;
  }

  .chat-window-inner-inner {
  	margin-left: -160px;
  }

  .chat-tabs {
    margin-left: -160px;
  }

  .people-icon {
    display: block;
  }

  .people-list .people-list-heading {
    visibility: hidden;
  }

  .people-list .operators {
    visibility: hidden;
  }

  .people-list .visitors {
    visibility: hidden;
  }

  .last {
  display: none;
}
}